** Import Libraries **

In [1]:
## Import libraries

import os, glob, pandas as pd
import string, re
import numpy as np
from tqdm import tqdm
from collections import Counter
import numbers
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from string import ascii_lowercase
import os 
import glob
import re
import requests
import shutil
import pandas as pd
import time
from nltk import ngrams
from operator import itemgetter

In [8]:
def clean_and_split_str(txt):
    #strip_special_chars = re.compile("[^A-Za-z0-9#]+")
    translator = str.maketrans('', '', string.punctuation)
    txt = txt.translate(translator)
    txt = re.sub('\s+', ' ', txt).strip()
    txt = txt.lower()
    txt = txt.split(' ')
    return txt

def CountPages(df):
    dfa = df.drop_duplicates(subset='issue_id', keep="last")
    page_count = sum([int(i) for i in list(df['n_pages'])])
    return page_count
    
def CountTokens(df):
    total_tokens = [item for sublist in df['clean'] for item in sublist]
    token_len = len(total_tokens)
    return token_len
    
def CountTypes(df):
    total_tokens = [item for sublist in df['clean'] for item in sublist]
    total_types = list(set(total_tokens))
    type_len = len(total_types)
    
    return type_len

** Data Tokenizing **

In [19]:
output_dict = dict()

for decade in ['1850','1860','1870','1880']:
    os.chdir("C://Users//Ruben//Downloads//metadata//ads_all_" + decade + "s//split")
    list_csv_decade = glob.glob('*chunk*.csv')
    
    page_numbers = 0
    total_tokens = 0
    total_types = 0
    total_articles = 0
    
    
    for csv in list_csv_decade:
        df = pd.read_csv(csv,sep='\t', header=0)
        df = df.iloc[1:,:]
        df['clean'] = [clean_and_split_str(i) for i in df.ocr]
        
        page_n = CountPages(df)
        page_numbers += page_n
        token_n = CountTokens(df)
        total_tokens += token_n
        type_n = CountTypes(df)
        total_types += type_n
        article_n = len(list(set(df['id'])))
        total_articles += article_n
        print("{} done".format(csv))
    
    ttr = (total_tokens / total_articles) / (total_types / total_articles)
    
    output_dict.update({decade:[page_numbers, total_articles, total_tokens,total_types, ttr]})

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,6,10,11,12,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1850-1859_chunk1.csv done
1850-1859_chunk2.csv done
1850-1859_chunk3.csv done
1850-1859_chunk4.csv done
1860-1869_chunk1.csv done
1860-1869_chunk2.csv done
1860-1869_chunk3.csv done
1860-1869_chunk4.csv done
1860-1869_chunk5.csv done
1860-1869_chunk6.csv done

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (6,7,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1870-1879_chunk1.csv done
1870-1879_chunk2.csv done
1870-1879_chunk3.csv done
1870-1879_chunk4.csv done
1870-1879_chunk5.csv done
1870-1879_chunk6.csv done
1870-1879_chunk7.csv done
1880-1889_chunk1.csv done
1880-1889_chunk2.csv done
1880-1889_chunk3.csv done
1880-1889_chunk4.csv done
1880-1889_chunk5.csv done
1880-1889_chunk6.csv done

In [42]:
df = pd.DataFrame()

In [43]:
df['1850'] = [1,2,3,4,5]
df['1860'] = [1,2,3,4,5]
df['1870'] = [1,2,3,4,5]
df['1880'] = [1,2,3,4,5]

In [44]:
for i in ['1850','1860','1870','1880']:

    for n in range(0,5):

        df[i][n] = output_dict[i][n]

In [47]:
df.index = ['page_numbers', 'total_articles', 'total_tokens','total_types', 'ttr']

In [50]:
os.chdir('C:\\Users\\Ruben\\Documents\\GitHub\\dhl-ads\\data')

df.to_csv('data-description.csv')

In [51]:
df

                     1850       1860       1870       1880
page_numbers      1491391    3321334    3534270    3427923
total_articles     303631     562584     645721     525792
total_tokens    109968538  169924898  172301740  135253736
total_types       6048407   10344452   13227808   10233301
ttr                    18         16         13         13